@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&family=Shrikhand&display=swap");

// Colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$white-color: #fff;
$bright-gray: #eaeaea;
$dimgray: #696969;
$color-cultured: #f6f6f6;
$color-jet: #353535;

* {
  //   border: 1px solid $primary-color;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  //   font-family: "Shrikhand", cursive;
  height: 100%;
  margin: 0;
  padding: 0;
}

// mixins
@mixin d--flex {
  display: flex;
}

@mixin flex--center {
  @include d--flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100vw;
  height: 10%;
  box-shadow: 1px 4px 8px $bright-gray;
  @include flex--center;
  &__arrow {
    display: none;
  }
}

.location {
  width: 100vw;
  height: 8%;
  background-color: $bright-gray;
  @include flex--center;
  &__fa {
    padding-right: 24px;
  }
  p {
    font-size: 1.2rem;
  }
}
.presentation {
  width: 100vw;
  // height: 80%;
  background-color: $color-cultured;
  text-align: center;
  padding: 32px;
  .presentation__heading {
    font-size: 1.7em;
  }
  p {
    font-size: 1.1em;
    color: $dimgray;
  }

  .btn {
    display: inline-block;
    width: 70%;
    margin: 1em 0 1em 0;
    // margin: 16 auto;
    padding: 1em 0 1em 0;
    color: $white-color;
    background: linear-gradient(
      180deg,
      $secondary-color 0%,
      $primary-color 100%
    );
    border-radius: 1.6em;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
    -ms-border-radius: 1.6em;
    -o-border-radius: 1.6em;
    box-shadow: 7px 7px 6px 5px $bright-gray;
  }
}
