.footer {
  color: $white-color;
  background-color: $jet-color;
  padding: 1.5em;
  &__heading {
    font-family: "Shrikhand", cursive;
    font-weight: 300;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 1em;
      a {
        color: $white-color;
        text-decoration: none;
        padding: 1em;
        &.padding-left-none {
          padding-left: 0;
        }
      }
    }
  }
  @include breakpoint(tablets) {
    @include flexAround;

    ul {
      padding-top: 16px;
    }
  }
}
