@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*
*************
	HEADER
*************
*/
.header {
  width: 100vw;
  height: 10%;
  box-shadow: 0px 2px 0px 1px #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__arrow {
  display: none;
}

/*
*************
 	MAIN
*************
*/
.btn, .container .btn--modify {
  opacity: 1;
  display: inline-block;
  width: 70%;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 0;
  color: #fff;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border-radius: 1.6em;
  box-shadow: 2px 6px 12px 0 #7e7e7e;
  -webkit-border-radius: 1.6em;
  -moz-border-radius: 1.6em;
  -ms-border-radius: 1.6em;
  -o-border-radius: 1.6em;
}

.location {
  width: 100vw;
  height: 8%;
  background-color: rgba(229, 229, 229, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__fa {
  padding-right: 24px;
}
.location p {
  font-size: 1.2rem;
}
.location .btn:hover, .location .container .btn--modify:hover, .container .location .btn--modify:hover {
  background: #a16be0;
}

.presentation {
  width: 100vw;
  background-color: #f6f6f6;
  text-align: center;
  padding: 32px;
}
.presentation .presentation__heading {
  font-size: 1.7em;
}
.presentation p {
  font-size: 1.1em;
  color: #7e7e7e;
}
.presentation .btn:hover, .presentation .container .btn--modify:hover, .container .presentation .btn--modify:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 2px 6px 7px 4px #7e7e7e;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.fonctioning {
  width: 100vw;
  padding: 1.5em;
  background-color: #fff;
}
.fonctioning__heading {
  text-transform: capitalize;
}
.fonctioning__btn {
  width: 90vw;
  padding: 1em 0 1em 0;
  margin-bottom: 1.5em;
  color: #000;
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  box-shadow: 2px 6px 12px 0 #e5e5e5;
}
.fonctioning__btn__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7em;
  height: 1.7em;
  border-radius: 1.25em;
  color: #fff;
  margin-left: -4%;
  background-color: #9356dc;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  -ms-border-radius: 1.25em;
  -o-border-radius: 1.25em;
}
.fonctioning__btn--magnolia {
  background-color: #f5edff;
}
.fonctioning__btn__i {
  margin: 0px 24px 0 24px;
  color: #7e7e7e;
}
.fonctioning__btn__i--indigo {
  color: #9356dc;
}
.fonctioning__btn > p {
  color: #000;
  font-weight: 600;
}

.restaurants {
  width: 100vw;
  padding: 1.5em 1.5em 3em 1.5em;
  background-color: #f6f6f6;
}
.restaurants__heading {
  text-transform: capitalize;
}
.restaurants__card {
  width: 100%;
  margin-bottom: 1.2em;
  border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  -ms-border-radius: 1.25em;
  -o-border-radius: 1.25em;
  background-color: #fff;
  position: relative;
  box-shadow: 2px 6px 12px 0 #e5e5e5;
}
.restaurants__card > a {
  text-decoration: none;
}
.restaurants__card > a img {
  width: 100%;
  height: 13.75em;
  object-fit: cover;
  border-radius: 1.25em 1.25em 0 0;
  -webkit-border-radius: 1.25em 1.25em 0 0;
  -moz-border-radius: 1.25em 1.25em 0 0;
  -ms-border-radius: 1.25em 1.25em 0 0;
  -o-border-radius: 1.25em 1.25em 0 0;
}
.restaurants__card__body {
  width: 100%;
  display: flex;
  color: #000;
  padding: 0 1em 1em 1em;
}
.restaurants__card__body > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card__body > div h3 {
  margin: 0.5em 0 0.5em 0;
}
.restaurants__card__body > div p {
  margin: 0.5em 0 0 0;
  text-transform: capitalize;
  font-size: 1.2em;
}
.restaurants__card__body .restaurants__card__body__fa__container .fa-heart {
  display: block;
  font-size: 29px;
}
.restaurants__card__body .restaurants__card__body__fa__container > .fa-regular {
  z-index: -1;
  position: relative;
}
.restaurants__card__body .restaurants__card__body__fa__container > .fa-solid {
  position: absolute;
  z-index: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
}
.restaurants__card__body span {
  color: #000;
  background-color: #99e2d0;
  padding: 0.5em;
  text-transform: capitalize;
  position: absolute;
  top: 1em;
  right: 1em;
}
.restaurants__card__body span.--span-none {
  display: none;
}

.header--modfy {
  box-shadow: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header--modfy__arrow {
  display: block;
}

.banner__img > img {
  width: 100%;
  height: 15.75em;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.container {
  margin-top: -3.125em;
  position: relative;
  z-index: 2;
  width: 100vw;
  background-color: #f6f6f6;
  padding: 2em 1em 1em 1em;
  border-radius: 1.9em 1.9em 0 0;
}
.container__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__heading h1 {
  font-family: "Shrikhand";
  font-size: 1.8em;
}
.container__heading__fa__container {
  position: relative;
}
.container__heading__fa__container .fa-heart {
  font-size: 1.8em;
}
.container__heading__fa__container .fa-regular {
  position: relative;
  z-index: 4;
}
.container__heading__fa__container .fa-solid {
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 3;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
}
.container__heading__fa__container:hover .fa-regular {
  z-index: 3;
}
.container__heading__fa__container:hover .fa-solid {
  z-index: 4;
}
.container__content {
  width: 100%;
}
.container__content__inner {
  width: 100%;
}
.container__content__inner > h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  color: #7e7e7e;
  margin: 1.7em 0 1.2em 0;
}
.container__content__inner > h2 span {
  padding-bottom: 0.25em;
  border-bottom: 2px solid #99e2d0;
  margin: 1.5em 0 1em 0;
}
.container__content__inner__btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1.2em;
  box-shadow: 2px 6px 12px 0 #eaeaea;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  -webkit-border-radius: 1.2em;
}
.container__content__inner__btn h3 {
  margin: 0;
}
.container__content__inner__btn__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__content__inner__btn__body p {
  margin: 0.5em 0 0 0;
}
.container__content__inner__btn__check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 65px;
  right: -70px;
  bottom: 0;
  top: 0;
  background-color: #99e2d0;
}
.container__content__inner__btn__check .fa-circle-check {
  font-size: 28px;
  color: #fff;
}
.container__content__inner__btn:hover .container__content__inner__btn__body {
  width: calc(100% - 70px);
}
.container__content__inner__btn:hover .container__content__inner__btn__body p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container__content__inner__btn:hover .container__content__inner__btn__check {
  right: 0;
  animation: slide-left 0.5s;
  transform-origin: right;
}
.container__content__inner__btn:hover .container__content__inner__btn__check > i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  animation: check-rotate 0.5s 0.2s both;
  -webkit-animation: check-rotate 0.5s 0.2s both;
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-70px);
    -webkit-transform: scaleX(-70px);
    -moz-transform: scaleX(-70px);
    -ms-transform: scaleX(-70px);
    -o-transform: scaleX(-70px);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(180);
    -webkit-transform: rotate(180);
    -moz-transform: rotate(180);
    -ms-transform: rotate(180);
    -o-transform: rotate(180);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.container .btn--modify {
  opacity: 1;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
}
.container .btn--modify:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 2px 6px 7px 4px #7e7e7e;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

/*
*************
 	FOOTER
*************
*/
.footer {
  color: #fff;
  background-color: #353535;
  padding: 1.5em;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 1em;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}
.footer ul li a.--padding-left-none {
  padding-left: 0;
}

/*
****************
   MENU PAGES
****************
*/
.header--modfy {
  box-shadow: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header--modfy__arrow {
  display: block;
}

.banner__img > img {
  width: 100%;
  height: 15.75em;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.container {
  margin-top: -3.125em;
  position: relative;
  z-index: 2;
  width: 100vw;
  background-color: #f6f6f6;
  padding: 2em 1em 1em 1em;
  border-radius: 1.9em 1.9em 0 0;
}
.container__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__heading h1 {
  font-family: "Shrikhand";
  font-size: 1.8em;
}
.container__heading__fa__container {
  position: relative;
}
.container__heading__fa__container .fa-heart {
  font-size: 1.8em;
}
.container__heading__fa__container .fa-regular {
  position: relative;
  z-index: 4;
}
.container__heading__fa__container .fa-solid {
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 3;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
}
.container__heading__fa__container:hover .fa-regular {
  z-index: 3;
}
.container__heading__fa__container:hover .fa-solid {
  z-index: 4;
}
.container__content {
  width: 100%;
}
.container__content__inner {
  width: 100%;
}
.container__content__inner > h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  color: #7e7e7e;
  margin: 1.7em 0 1.2em 0;
}
.container__content__inner > h2 span {
  padding-bottom: 0.25em;
  border-bottom: 2px solid #99e2d0;
  margin: 1.5em 0 1em 0;
}
.container__content__inner__btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1.2em;
  box-shadow: 2px 6px 12px 0 #eaeaea;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  -webkit-border-radius: 1.2em;
}
.container__content__inner__btn h3 {
  margin: 0;
}
.container__content__inner__btn__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__content__inner__btn__body p {
  margin: 0.5em 0 0 0;
}
.container__content__inner__btn__check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 65px;
  right: -70px;
  bottom: 0;
  top: 0;
  background-color: #99e2d0;
}
.container__content__inner__btn__check .fa-circle-check {
  font-size: 28px;
  color: #fff;
}
.container__content__inner__btn:hover .container__content__inner__btn__body {
  width: calc(100% - 70px);
}
.container__content__inner__btn:hover .container__content__inner__btn__body p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container__content__inner__btn:hover .container__content__inner__btn__check {
  right: 0;
  animation: slide-left 0.5s;
  transform-origin: right;
}
.container__content__inner__btn:hover .container__content__inner__btn__check > i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  animation: check-rotate 0.5s 0.2s both;
  -webkit-animation: check-rotate 0.5s 0.2s both;
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-70px);
    -webkit-transform: scaleX(-70px);
    -moz-transform: scaleX(-70px);
    -ms-transform: scaleX(-70px);
    -o-transform: scaleX(-70px);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(180);
    -webkit-transform: rotate(180);
    -moz-transform: rotate(180);
    -ms-transform: rotate(180);
    -o-transform: rotate(180);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.container .btn--modify {
  opacity: 1;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
}
.container .btn--modify:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 2px 6px 7px 4px #7e7e7e;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

/*# sourceMappingURL=style.css.map */
