.btn {
  opacity: 1;
  display: inline-block;
  width: 70%;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 0;
  color: $white-color;
  background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
  border-radius: 1.6em;
  @include shadow($gray-color);
  -webkit-border-radius: 1.6em;
  -moz-border-radius: 1.6em;
  -ms-border-radius: 1.6em;
  -o-border-radius: 1.6em;
}
