@import "../components/boutton";
@import "../utils/variables";

.loader-container {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: $white-color;
  width: 100%;
  margin: 0 auto;
  @include flexCenter;
}

.loader {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: $primary-color;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  // background: $black-color;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 7px solid transparent;
  }
  &::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: $secondary-color;
    animation: spin 3s linear infinite;
    -webkit-animation: spin 3s linear infinite;
    // background: green;
  }

  &::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: $tertiary-color;
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
    //background: $magnolia-color;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.location {
  width: 100%;
  height: 8%;
  background-color: rgba($whisper-color, 0.78);
  @include flexCenter;
  &__fa {
    margin-right: 24px;
  }
  p {
    font-size: 1.5rem;
  }
}

.presentation {
  width: 100%;
  background-color: $cultured-color;
  text-align: center;
  padding: 32px;
  .presentation__heading {
    font-size: 1.7em;
  }
  p {
    font-size: 1.1em;
    color: $gray-color;
  }
  & .btn {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      box-shadow: 2px 6px 7px 4px #7e7e7e;
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
    }
  }
  @include breakpoint(tablets) {
    .btn {
      width: 35%;
    }
  }
}
.fonctioning {
  width: 100%;
  padding: 1.5em;
  background-color: $white-color;
  color: $black-color;
  &__heading {
    text-transform: capitalize;
  }
  & ol {
    padding: 0;
    counter-reset: number;
    width: 100%;
    list-style-type: none;

    & li {
      position: relative;
      width: 100%;
      @include flexStart;
      padding: 1.5em;
      background-color: $cultured-color;
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 1em;
      border-radius: 1.3em;
      -webkit-border-radius: 1.3em;
      -moz-border-radius: 1.3em;
      -ms-border-radius: 1.3em;
      -o-border-radius: 1.3em;
      @include shadow($whisper-color);
      &::before {
        counter-increment: number;
        content: counter(number);
        @include flexCenter;
        color: $white-color;
        position: absolute;
        left: -1 * $steps-hight;
        width: 1 + $steps-hight;
        height: 1 + $steps-hight;
        background-color: $primary-color;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      & i {
        font-size: 1.2em;
        color: $gray-color;
        margin: 0 1em 0 0.5em;
        &.imagnolia {
          color: $primary-color;
        }
      }

      &.magnolia {
        background-color: $magnolia-color;
      }
    }
  }
  @include breakpoint(tablets) {
    @include flexColumn;
    &__heading {
      text-align: center;
    }
    & ol {
      @include flexAround;
      li {
        width: 30%;
      }
    }
  }
}

.restaurants {
  width: 100%;
  padding: 1.5em 1.5em 3em 1.5em;
  background-color: $cultured-color;

  &__heading {
    text-transform: capitalize;
  }

  &__card {
    width: 100%;
    margin-bottom: 1.2em;
    border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    -moz-border-radius: 1.25em;
    -ms-border-radius: 1.25em;
    -o-border-radius: 1.25em;
    background-color: $white-color;
    position: relative;
    @include shadow($whisper-color);

    & > a {
      text-decoration: none;
      & img {
        width: 100%;
        height: 13.75em;
        object-fit: cover;
        border-radius: 1.25em 1.25em 0 0;
        -webkit-border-radius: 1.25em 1.25em 0 0;
        -moz-border-radius: 1.25em 1.25em 0 0;
        -ms-border-radius: 1.25em 1.25em 0 0;
        -o-border-radius: 1.25em 1.25em 0 0;
      }
    }
    &__body {
      width: 100%;
      @include dFlex;
      color: $black-color;
      padding: 0 1em 1em 1em;
      & > div {
        width: 100%;
        @include flexBetween;
        & h3 {
          margin: 0.5em 0 0.5em 0;
        }
        & p {
          margin: 0.5em 0 0 0;
          text-transform: capitalize;
          font-size: 1.2em;
        }
      }
      .restaurants__card__body__fa__container {
        position: relative;
        & .fa-heart {
          display: block;
          font-size: 2.5em;
        }

        & > .fa-solid {
          position: absolute;
          bottom: 0;
          right: 0;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          background-image: $heart-gradient;
          opacity: 0;
          transition: all 200ms ease-in-out;
          -webkit-transition: all 200ms ease-in-out;
          -moz-transition: all 200ms ease-in-out;
          -ms-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
          //animation: heart 800ms both;
          //-webkit-animation: heart 800ms both;
        }

        &:active {
          & > i:nth-of-type(2) {
            opacity: 1;
          }
        }
        // @keyframes heart {
        //   0% {
        //     -webkit-transform: translateY(-50%);
        //     transform: translateY(0);
        //   }
        //   100% {
        //     transform: translateY(0);
        //     -webkit-transform: translateY(0);
        //     -moz-transform: translateY(0);
        //     -ms-transform: translateY(0);
        //     -o-transform: translateY(0);
        //   }
        // }
      }
      & span {
        color: $black-color;
        background-color: $tertiary-color;
        padding: 0.5em;
        text-transform: capitalize;
        position: absolute;
        top: 1em;
        right: 1em;
        &.spanNone {
          display: none;
        }
      }
    }
  }
  @include breakpoint(tablets) {
    @include flexColumn;
    &__heading {
      text-align: center;
      margin: 0;
      padding-bottom: 24px;
    }
    &__inner {
      flex-wrap: wrap;
      @include flexCenter;
    }
    &__card {
      width: 45%;
      margin-left: 16px;
    }
  }
  @include breakpoint(desktop) {
    &__heading {
      text-align: center;
      margin: 0;
      padding-bottom: 24px;
    }
    &__inner {
      flex-wrap: wrap;
      @include flexCenter;
    }
    &__card {
      width: 45%;
      margin-left: 16px;
    }
    &__heading {
      text-align: center;
      margin: 0;
      padding-bottom: 24px;
    }
    &__inner {
      flex-wrap: wrap;
      @include flexCenter;
    }
    &__card {
      width: 45%;
      margin-left: 16px;
    }
  }
}
