.header--modfy {
  box-shadow: none;
  @include flexEvenly;
  &__arrow {
    display: block;
  }
}

.banner__img > img {
  width: 100%;
  height: 15.75em;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.container {
  margin-top: -3.125em;
  position: relative;
  z-index: 2;
  width: 100vw;
  background-color: $cultured-color;
  padding: 2em 1em 1em 1em;
  border-radius: 1.9em 1.9em 0 0;
  &__heading {
    @include flexBetween;
    & h1 {
      font-family: "Shrikhand";
      font-size: 1.8em;
    }
    &__fa__container {
      position: relative;
      & .fa-heart {
        font-size: 1.8em;
      }
      & .fa-regular {
        position: relative;
        z-index: 1;
      }
      & .fa-solid {
        position: absolute;
        top: 5px;
        right: 0px;
        z-index: -1;
      }
    }
  }

  &__content {
    width: 100%;
    &__inner {
      width: 100%;
      & > h2 {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 400;
        color: $gray-color;
        margin: 1.7em 0 1.2em 0;
        & span {
          padding-bottom: 0.25em;
          border-bottom: 2px solid $tertiary-color;
          margin: 1.5em 0 1em 0;
        }
      }
      &__btn {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background-color: $white-color;
        padding: 1em;
        margin-bottom: 1.2em;
        @include shadow($bright_gray-color);
        border-radius: 1.5em;
        -webkit-border-radius: 1.5em;
        -moz-border-radius: 1.5em;
        -ms-border-radius: 1.5em;
        -o-border-radius: 1.5em;
        -webkit-border-radius: 1.2em;
        & h3 {
          margin: 0;
        }
        &__body {
          @include flexBetween;
          & p {
            margin: 0.5em 0 0 0;
          }
        }
        &__check {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 65px;
          right: -70px;
          bottom: 0;
          top: 0;
          background-color: $tertiary-color;
          .fa-circle-check {
            font-size: 28px;
            color: #fff;
          }
        }
        &:hover {
          .container__content__inner__btn__body {
            width: calc(100% - 70px);
            & p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .container__content__inner__btn__check {
            right: 0;
            animation: slide-left 0.5s;
            transform-origin: right;
            & > i {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              animation: check-rotate 0.5s 0.2s both;
              -webkit-animation: check-rotate 0.5s 0.2s both;
            }
          }
        }
      }
    }
  }

  @keyframes slide-left {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(-70px);
      -webkit-transform: scaleX(-70px);
      -moz-transform: scaleX(-70px);
      -ms-transform: scaleX(-70px);
      -o-transform: scaleX(-70px);
    }
  }

  @keyframes check-rotate {
    0% {
      transform: rotate(180);
      -webkit-transform: rotate(180);
      -moz-transform: rotate(180);
      -ms-transform: rotate(180);
      -o-transform: rotate(180);
    }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
  .btn--modify {
    width: 55%;
    @extend .btn;
    @include flexCenter;
    margin: 3em auto;
  }
}
