@mixin dFlex {
  display: flex;
}

@mixin flexBetween {
  @include dFlex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexStart {
  @include dFlex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexCenter {
  @include dFlex;
  justify-content: center;
  align-items: center;
}
@mixin flexColumn {
  @include dFlex;
  flex-direction: column;
}
@mixin flexColumnCenter {
  @include dFlex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexEvenly {
  @include dFlex;
  justify-content: space-evenly;
  align-items: center;
}
@mixin flexAround {
  @include dFlex;
  justify-content: space-around;
  align-items: center;
}

@mixin shadow($color) {
  box-shadow: 2px 6px 12px 0 $color;
}

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints-min, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media screen and (min-width: map-get($breakpoints-min, $name)) and (max-width: map-get($breakpoints-max, $name)) {
      @content;
    }
  }
}
