$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$white-color: #fff;
$bright_gray-color: #eaeaea;
$cultured-color: #f6f6f6;
$magnolia-color: #f5edff;
$jet-color: #353535;
$whisper-color: #e5e5e5;
$gray-color: #7e7e7e;
$black-color: #000;
